.pa-wrapper {
    display: flex;
    justify-content: center;
  }
  .pa-active {
    background-color: rgb(251 146 60/1) !important;
  }
  .pa-button {
    padding: 15px 18px;
    line-height: 1;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / 0.1),
      0 1px 2px -1px rgb(0 0 0 / 0.1);
    border-radius: 0.25rem;
    color: rgb(255 255 255/1);
    background-color: rgb(148 163 184/1);
    margin-left: 8px;
    &:first-child {
      margin-left: 0;
    }
    cursor: pointer;
  }