.card {
  position: relative;
  text-align: left;
  left: -12px;
  width: 100%;
  margin-block-start: 24px;
  margin-block-end: 48px;
  padding-block-start: 12px;
  padding-block-end: 12px;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  border-radius: 2px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
  background-color: white;
}

/* .card p {
  text-indent: 20px;
}
.card figcaption p{
  text-indent: 0;
} */
.card p:last-child{
  margin-bottom: 0;
}

.card > figcaption {
  display: inline-block;
  margin-block-start: 16px;
  padding-block-start: 4px;
  padding-block-end: 3px;
  padding-inline-start: 0;
  padding-inline-end: 72px;
  line-height: 24px;
  border-block-start: 1px solid #ededed;
}

.card__vertical-container {
  box-sizing: border-box;
  width: 100%;
  height: 30em;
  border: 1px solid #ededed;
  overflow: auto;
  writing-mode: vertical-rl;
}

@media screen and (min-width: 1028px) {
  .card {
    box-sizing: border-box;
    /* left: -20%; */
    /* width: 140%; */
    padding-block-start: 24px;
    padding-block-end: 24px;
    padding-inline-start: 32px;
    padding-inline-end: 32px;
  }
}

[data-darkmode='dark'] .card {
  background-color: #292929;
}

[data-darkmode='dark'] .card > figcaption {
  border-block-start: 1px solid #333333;
}

[data-darkmode='dark'] .card .card__vertical-container {
  border-color: #333333;
}

@media (prefers-color-scheme: dark) {
  [data-darkmode='auto'] .card {
    background-color: #292929;
  }
  [data-darkmode='auto'] .card > figcaption {
    border-block-start: 1px solid #333333;
  }
  [data-darkmode='auto'] .card .card__vertical-container {
    border-color: #333333;
  }
}
