@import "./root.scss";

@import "lxgw-wenkai-lite-webfont/style.css";

@import "./reset.css";
@import "./prism.scss";
@import "./card.css";
@import "./typo.css";
@import "viewerjs/dist/viewer.css";

@import "./code.scss";
@import "./components/Tabs.scss";
@import "./components/left-article.scss";
@import "./components/Page-Post.scss";
@import "./components/HeadTree.scss";
@import "./components/DocTree.scss";
@import "./components/Pagination.scss";
@import "./components/Preview.scss";
@import "./components/PagePreviewCard.scss";



html,
body {
    background: var(--bg-color);
    height: 100%;
    // font-family: HarmonyOS_Medium;
    font-family: "LXGW WenKai Mono Lite", "Hiragino Sans GB", "冬青黑",
        PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB,
        Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    font-display: fallback;
}

.site-title{
    color: inherit;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: .5em;
    display: block;
    line-height: 1;
    margin-bottom: 30px;
    color: white;
    text-align: center;
    font-family: "Press Start 2P";
    // -webkit-text-stroke: 1px greenyellow;
    animation: neon1 1.5s ease-in-out infinite alternate;
    &:hover{
        text-decoration: none;
    }
}

.custom-btn {
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase; 
    cursor: pointer;
    background: linear-gradient(90deg, #1abc9c, #7795fa, #bf68c7, #1abc9c);
    background-size: 400%;
    border-radius: 60px;
    &:hover {
        animation: animate 8s linear infinite;
    }
    a{
        color: #fff;
        line-height: 56px;
        &:hover {
            color: #fff;
        }
        &:hover::before{
            border: none;
        }
    }

    @keyframes animate {
        0% {
            background-position: 0%;
        }

        100% {
            background-position: 400%;
        }
    }
}

@keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 20px #1abc9c, 0 0 40px #1abc9c, #000 2px 0 0, #000 0 2px 0, #000 -2px 0 0, #000 0 -2px 0;;
    }
    to {
        text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 14px #fff, 0 0 10px #1abc9c, 0 0 15px #1abc9c, #000 2px 0 0, #000 0 2px 0, #000 -2px 0 0, #000 0 -2px 0;;
    }
}

// 文章中的上一页下一页
.paging {
    margin-top: 10px;
    border-top: 1px solid rgba(60, 60, 67, 0.12);
    padding-top: 24px;
    display: grid;
    grid-row-gap: 8px;
    text-indent: 0;
    margin: 0;
    padding: 1em;
    background-color: var(--mian-bg-color);
    @media (min-width: 640px) {
        & {
            margin: 0 1em;
        }
    }
    @media (min-width: 640px) {
        & {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 16px;
        }
    }
    .next {
        text-align: right;
    }
}

.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    opacity: 0;
    transition: opacity 0.4s linear;

    .progress {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #1abc9c;
        box-shadow: 0 0 10px rgba(26, 188, 156, 0.7);
    }

    &.loading {
        opacity: 1;
        transition: none;

        .progress {
            transition: width 0.4s ease;
        }
    }
}

pre,
code {
    /* Lite version */
    font-family: "LXGW WenKai Mono Lite" var(--prism-font-family) !important;
    font-display: fallback;
}

.enshrine {
    position: relative;
    display: inline-block;
    &.mg {
        margin: 15px;
        .dropdown {
            left: -15px;
            top: -15px;
        }
    }
    a.text:hover {
        &::before {
            border: 0;
        }
    }
    &:hover .dropdown {
        display: block;
    }
    @include media-pc(sm) {
        &:active:hover .dropdown {
            display: block;
        }
    }
    &.popup .dropdown {
        left: 50%;
        transform: translateX(-50%);
        min-width: 300px;
    }
    &.popup .doc-card-describe {
        height: auto !important;
        -webkit-line-clamp: unset !important;
    }
    .dropdown {
        display: none;
        position: absolute;
        left: -6px;
        top: calc(100% - 6px);
        z-index: 999;
        min-width: 200px;
        @include media-pc(sm) {
            position: fixed;
            top: 50% !important;
            left: 50% !important;
            transform: translate(-50%, -50%);
            width: 80%;
        }
        .doc-card {
            width: 100%;
        }
    }
}

.toTop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.24);
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    box-sizing: content-box;
    @include media-pc(sm) {
        display: none;
    }
}

mark.highlight {
    background-color: #f9f2f4;
    color: #c7254e;
    border-radius: 4px;
    padding: 2px 8px;
}

// 顶部进度条
.reading {
    position: relative;
    &::after {
        content: attr(data-rate);
        position: absolute;
        right: calc(100% + 4px);
        bottom: 0;
        font-size: 0.75em;
        color: #1abc9c;
    }
}

.layout {
    display: flex;

    max-width: 1600px;
    margin: 0 auto;

    min-height: 100%;
    //   border: 1px solid #ddd;
    //   border-width: 0 1px;
    position: relative;
    box-sizing: border-box;
    @include media-pc(sm) {
        display: block;
        margin: 0.5em;
        border: 0;
    }
    .side {
        background: var(--panel-bg-color);
        overflow-y: auto;
        position: sticky;
        height: 100vh;
        margin: 0;
        top: 0;
        width: 300px;
        box-sizing: border-box;
        display: none;
        &.show {
            display: block;
        }
        @include media-pc(md) {
            display: none !important;
        }
        ._headtree {
            display: none;
            &.show {
                display: block;
            }
        }
    }
    .left {
        // background: #fff;
        // direction: rtl;
        overflow-y: auto;
        position: sticky;
        height: 100vh;
        margin: 0;
        top: 0;
        width: 300px;
        .wrapper {
            // direction: ltr;
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        @include media-pc(sm) {
            margin: 0;
            margin-bottom: 15px;
            position: relative;
            height: auto;
        }
    }
    .right {
        flex: 1;
        width: 0;
        display: flex;
        flex-direction: column;
        main {
            flex: 1;
            height: 0;
            margin: 0 1em;
            background-color: var(--mian-bg-color);
            @include media-pc(sm) {
                margin: 0;
            }
        }
        @include media-pc(sm) {
            flex: auto;
            width: auto;
            margin: 0;
        }
    }
}

.article {
    padding: 0.8em 2.5em 2em;
    @include media-pc(sm) {
        padding: 1em 1.2em 1em;
    }
    &.collect .article__content {
        a:not(.text) {
            margin-right: 4px;
        }
    }
    &.chinese .doc-card {
        text-indent: 0;
    }
    &.chinese .article__content {
        text-indent: 1.5em;
        font-weight: 300;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        ol,
        ul,
        blockquote,
        details,
        summary,
        pre {
            text-indent: 0;
        }
    }
    .article__content h1,
    .article__content h2,
    .article__content h3 {
        display: inline;
        width: auto;
        background: linear-gradient(
                to bottom,
                transparent 70%,
                rgba(26, 188, 156, 0.3) 0
            )
            no-repeat;
        &::before {
            content: "";
            margin-top: 1.2em;
            display: block;
        }
        &::after {
            content: "";
            display: block;
            margin-bottom: 0.6em;
        }
    }
}

.hero-image {
    display: block;
    height: 460px;
    width: 100%;
    object-fit: cover;
    background-color: #b9b9b9;
    @include media-pc(sm) {
        height: 200px;
    }
}

// 标题栏
header {
    padding: 15px;
    background-color: var(--panel-bg-color);
    nav a {
        margin: 0 0.2em;
    }
    h2 {
        margin: 0.5em 0;
    }
}
// 底部
footer {
    padding: 25px;
    text-align: center;
    font-weight: 300;
}

::-webkit-scrollbar-track {
    border: none;
}
::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.3);
    transition: background linear 1s;
}
::-webkit-scrollbar-corner {
    background: none;
}
::-webkit-scrollbar {
    width: 10px;
}

.article {
    .doc-card {
        display: inline-block;
        box-sizing: border-box;
        width: calc(100% / 4 - 18px);
        margin: 10px;
        margin-left: 0;
        @include media-pc(lg) {
            width: calc(100% / 3 - 16px);
            margin: 10px;
            margin-left: 0;
        }
        @include media-pc(md) {
            width: calc(100% / 2 - 16px);
            margin: 10px;
            margin-left: 0;
        }
        @include media-pc(sm) {
            width: 100%;
            margin: 10px;
            margin-left: 0;
        }
        /* min-width: 20%; */
        padding: 10px;
        background: white;
        border-radius: 5px;
        box-shadow: 0px 2px 10px 0px rgb(212, 212, 212);
        transition: transform 0.5s ease, box-shadow 0.5s linear;
        position: relative;
        overflow: hidden;
        &.doc-card-inner::after {
            content: "内";
            position: absolute;
            left: 3px;
            top: 3px;
            font-size: 14px;
            line-height: 1;
            font-weight: bold;
            color: rgb(106, 189, 11);
        }
        &.doc-card-inner::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 0;
            border: 13px solid red;
            border-right-color: transparent;
            border-bottom-color: transparent;
        }
        &.doc-card-demo::after {
            content: "Demo";
            position: absolute;
            left: 3px;
            top: 3px;
            font-size: 14px;
            line-height: 1;
            font-weight: bold;
            color: rgb(106, 189, 11);
        }
        &.doc-card-demo::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 0;
            border: 13px solid red;
            border-right-color: transparent;
            border-bottom-color: transparent;
        }
        &:hover {
            box-shadow: 0px 6px 15px 0px rgb(212, 212, 212);
            transform: translateY(-6px);
        }
        .doc-card-title {
            font-size: 20px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 5px;
        }
        .doc-card-describe {
            font-size: 14px;
            line-height: 1.3;
            height: 36.4px;
            color: #b9b9b9;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
        }
        .doc-card-bottom {
            border-top: 0.5px solid rgb(221, 221, 221);
            margin: 0 -10px;
            padding: 0 10px;
            padding-top: 5px;
            margin-top: 5px;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            min-height: 25px;
            flex-wrap: nowrap;
            overflow-x: auto;
            scrollbar-width: none; // 火狐隐藏滚动条
            &::-webkit-scrollbar {
                display: none; // chrome隐藏滚动条
            }
        }
        .doc-card-bottom .doc-card-tag {
            display: inline-block;
            text-decoration: none;
            color: white;
            background-color: rgb(106, 189, 11);
            padding: 2px 4px;
            font-size: 12px;
            cursor: pointer;
            white-space: nowrap;
            margin-right: 5px;
            margin-top: 5px;
            &::before {
                content: "";
                border-bottom: 0 !important;
            }
        }
    }
    .doc-card-a {
        display: block;
        color: unset;
        text-decoration: none !important;
        &::before {
            content: "";
            border-bottom: 0 !important;
        }
    }
}
