@import "./reset.css";
@import "./prism.scss";
@import "./card.css";
@import "./typo.css";
@import 'viewerjs/dist/viewer.css';

@font-face {
  font-family: Work Sans;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/work-sans-latin-400-normal.3c46b18a-20221103104408-62pf116.woff2)format("woff2");
  unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF
}

html, body {
  background: #eee;
  height: 100%;
}

.toTop{
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.24);
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  box-sizing: content-box;
  @include media-pc(sm){
    display: none;
  }
}

// 顶部进度条
.reading{
    position: relative;
    &::after{
        content: attr(data-rate);
        position: absolute;
        right: calc(100% + 4px);
        bottom: 0;
        font-size: .75em;
        color: #1abc9c;
    }
}

.layout{
  display: flex;

  max-width: 1600px;
  margin: 0 auto;

  min-height: 100%;
//   border: 1px solid #ddd;
//   border-width: 0 1px;
  position: relative;
  box-sizing: border-box;
  @include media-pc(sm){
    display: block;
    margin: .5em;
    border: 0;
  }
  .side{
    background: #fff;
    overflow-y: auto;
    position: sticky;
    height: 100vh;
    margin: 0;
    top: 0;
    width: 300px;
    box-sizing: border-box;
    @include media-pc(md){
      display: none;
    }
  }
  .left{
    background: #fff;
    direction: rtl;
    overflow-y: auto;
    position: sticky;
    height: 100vh;
    margin: 0;
    top: 0;
    .wrapper{
      direction: ltr;
    }
    @include media-pc(sm){
      margin: 0;
      margin-bottom: 15px;
      position: relative;
      height: auto;
    }
  }
  .right{
    flex: 1;
    width: 0;
    background: #eee;
    display: flex;
    flex-direction: column;
    main{
      flex: 1;
      height: 0;
      margin: 0 1em;
      background-color: #fff;
      @include media-pc(sm){
        margin: 0;
      }
    }
    @include media-pc(sm){
      flex: auto;
      width: auto;
      margin: 0;
    }
  }
}

.article{
  padding: .8em 2.5em 2em;
  @include media-pc(sm){
    padding: 1em 1.2em 1em;
  }
  &.collect a[href] + a[href]{
    margin-left: 20px;
  }
  &.chinese .article__content{
    text-indent: 1.5em;
    font-weight: 300;
    h1,h2,h3,h4,h5,h6,
    ol, ul, blockquote, details, summary, pre{
        text-indent: 0;
    }
  }
  .article__content h1,
  .article__content h2,
  .article__content h3 {
    display: inline;
    width: auto;
    background: linear-gradient(to bottom,transparent 70%,rgba(26, 188, 156,.3) 0) no-repeat;
    &::before{
        content: "";
        margin-top: 1.2em;
        display: block;
    }
    &::after{
        content: "";
        display: block;
        margin-bottom: 0.6em;
    }
  }
  
}

.hero-image{
  display: block;
  height: 460px;
  width: 100%;
  object-fit: cover;
  @include media-pc(sm){
    height: 200px;
  }
}

// 标题栏
header{
  padding: 15px;
  nav a{
    margin: 0 .2em;
  }
  h2 {
    margin: 0.5em 0;
  }
}
// 底部
footer {
  padding: 25px;
  text-align: center;
  font-weight: 300;
}

::-webkit-scrollbar-track {
  border: none;
}
::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.3);
  transition: background linear 1s;
}
::-webkit-scrollbar-corner {
  background: none;
}
::-webkit-scrollbar {
  width: 10px;
}

