---
import { publishedDict, publishedList } from "@blog/utils";
import Page from "../../layouts/Page.astro";

export async function getStaticPaths() {
  const cates = await publishedDict();
  const result = [];
  for (let i = 0; i < cates.length; i++) {
    const cate = cates[i];
    result.push({
      params: { cate: cate.cateActive.split("/").slice(2).join("/") },
      props: { data: await publishedList(cate.children) },
    });
  }
  return result;
}

const { data } = Astro.props as { data: any };
---

<Page title="博客" description="博客" hideSide>
  <div style="padding: 50px;">
    {
      data.map((article) => {
        return (
          <a style="display: block;padding: 6px 0;" href={article.url}>
            {article.title} --- {article.url}
          </a>
        );
      })
    }
  </div>
</Page>
