---
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Page from "@blog/layouts/Page.astro";
---

<Page title={SITE_TITLE} description={SITE_DESCRIPTION} hideSide>
    <div style="text-align: center;font-size: 120px;margin-top: 25px;">
        404
    </div>
</Page>
