---
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Page from "@blog/layouts/Page.astro";
---

<Page title={SITE_TITLE} description={SITE_DESCRIPTION} hideSide>
    <div style="text-align: center;font-size: 25px;margin-top: 25px;">
        该界面不存在，请重试
    </div>
</Page>
