---
import Page from '@blog/layouts/Page.astro'
import { publishedList } from '@blog/utils'
import { PageSize } from '@blog/config'
import Preview from '@blog/components/Preview.astro'
import Pagination from '@blog/components/Pagination.astro'

const list = await publishedList()

const count = list.length
const curPage = 1
---

<Page title="分类" description="分类" showTree>
    <div style="padding: 0.8em 2.5em 2em;">
        {
            list.slice(0, PageSize).map((article) => {
                return <Preview article={article} />
            })
        }
        <Pagination pageSize={PageSize} curPage={curPage} count={count}></Pagination>
        {
            list.slice(0, PageSize).length === 0 && <div style="font-size:25px;text-align:center;color: grey;">没有知识的荒原</div>
        }
    </div>
</Page>
