---
import Page from '@blog/layouts/Page.astro'
import { publishedList } from '@blog/utils'
import { PageSize } from '@blog/config'
import Preview from '@blog/components/Preview.astro'
import Pagination from '@blog/components/Pagination.astro'

const list = await publishedList(undefined, true)

const count = list.length
const curPage = 1
---

<Page title="博客" description="博客" hideSide>
    <div style="padding: 50px;">
        {
            list.slice(0, PageSize).map((article) => {
                return <Preview article={article} />
            })
        }
        <Pagination base="cateAll" pageSize={PageSize} curPage={curPage} count={count}></Pagination>
    </div>
</Page>
