---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Page from "../layouts/Page.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import { sortPublishedList } from "@blog/utils"

let posts = await sortPublishedList()

---
<Page title={SITE_TITLE + '-文章'} description={SITE_DESCRIPTION} hideSide showTree>
	<section style="padding: 1em 1.2em 1em;">
				<ul class="page-post">
					{posts.map((post) => (
						<li>
							<time datetime={post.pubDate}>
								{new Date(post.pubTimestamp).toLocaleDateString('zh-cn', {
									year: 'numeric',
									month: 'short',
									day: 'numeric',
								})}
							</time>
							<a href={post.url}>{post.title}</a>
						</li>
					))}
				</ul>
			</section>
</Page>
