---
// {
//     isProd && comment && (
//         <script src="https://giscus.app/client.js"
//             data-repo="ListenMoon/PureWiki"
//             data-repo-id="R_kgDOIzwtbQ"
//             data-category="Q&A"
//             data-category-id="DIC_kwDOIzwtbc4CT-Ab"
//             data-mapping="pathname"
//             data-strict="0"
//             data-reactions-enabled="1"
//             data-emit-metadata="0"
//             data-input-position="top"
//             data-theme="light_tritanopia"
//             data-lang="zh-CN"
//             crossorigin="anonymous"
//             async>
//         </script>
//         <div class="giscus" style="padding: 25px;box-sizing: border-box;"></div>
//         <div class="giscus-frame" style="padding: 25px;box-sizing: border-box;"></div>
//     )
// }

// {
//     isProd && comment && (
//         <style is:global>
//             .utterances{
//                 max-width: 100% !important;

//             }
//             .utterances iframe{
//                 padding: 0 25px;
//                 box-sizing: border-box;
//             }
//         </style>
//         <script is:raw src="https://utteranc.es/client.js"
//             repo="ListenMoon/PureWiki"
//                 issue-term="pathname"
//                 label="收录"
//                 theme="github-light"
//                 crossorigin="anonymous"
//                 async>
//         </script>
//     )
// }
---
<style is:global>
  .utterances{
      max-width: 100% !important;

  }
  .utterances iframe{
      padding: 0 25px;
      box-sizing: border-box;
  }
</style>
<div id="utteranc-sc" style="text-align: center;padding: 25px 0">
  <span style="">评论加载中...</span>
</div>
<script id="utteranc-sc" is:raw src="/libs/utteranc.client.js">
</script>