---
import { FooterAuthor, FooterName, FooterRepo } from "@blog/config";
const today = new Date();
---

<footer>
    &copy; {today.getFullYear()}
    {FooterAuthor}. All rights reserved.
    <p>
        Built with ♥ by <a href={FooterRepo}
            >{FooterName}</a>
    </p>
</footer>
