---
export interface Props {
  head: any[]
}
const { head } = Astro.props as Props
---

  <ul class="head-tree">
			<div class="title">目录</div>
		{
                            !!head &&
                            !!head.length && (
                                <>
																{head.map((v) => (
                                                <>{v.level <=  3 && <li><a
                                                    class="head"
                                                    style={{
                                                        marginLeft:
                                                            (v.level - 1) * 10 +
                                                            "px",
                                                        "overflow-x": "hidden",
                                                        "white-space": "nowrap",
                                                        "text-overflow": "ellipsis",
																												"display": "block",
                                                    }}
																										title={v.title}
                                                    href={"#" + v.id}
                                                >
                                                    # {v.title}
                                                </a></li>}</>
                                            ))}
																</>
                            )
		}
        {!head.length && <div style="margin: 0 20px;">无</div>}
		</ul>
