---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---
<header>
	<h2>
		<a href="/" class="site-title" data-shadow={SITE_TITLE}>{SITE_TITLE}</a>
	</h2>
	<nav>
		<HeaderLink href="/">门楣</HeaderLink>
		<HeaderLink href="/post">归档</HeaderLink>
		<HeaderLink href="/collect">收藏</HeaderLink>
		<HeaderLink href="/career">生涯</HeaderLink>
		<!-- <HeaderLink href="/note">TODO</HeaderLink> -->
		<HeaderLink href="/rss.xml">Rss</HeaderLink>
        <div style="display: inline-block;color: #1abc9c;cursor:pointer;" id="searchButton">搜索</div>
		<!-- <HeaderLink href="/demo">Demo</HeaderLink> -->
	</nav>
</header>
