---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---
<header>
	<h2>
		<a href="/" style="color: inherit;text-decoration: none;">{SITE_TITLE}</a>
	</h2>
	<nav>
		<HeaderLink href="/">门楣</HeaderLink>
		<HeaderLink href="/post">归档</HeaderLink>
		<HeaderLink href="/collect">收藏</HeaderLink>
		<HeaderLink href="/rss.xml">rss</HeaderLink>
        <HeaderLink id="searchButton" href="#">搜索</HeaderLink>
		<!-- <HeaderLink href="/demo">Demo</HeaderLink> -->
	</nav>
</header>
