---
import { PostProps } from '#/post';

export interface Props {
  posts: PostProps[]
}
const { posts } = Astro.props as Props
---

<ul class="posttop">
    { !!posts.length && posts.map(v=>{
        return <li>
            <a class:list={["posttop__post",!!v.heroImage?'posttop__image':'']} href={v.url}>
                {!!v.heroImage && <div class="posttop__post__cover"><img src={v.heroImage} alt=""></div>}
                <div class="posttop__post__title">{v.title}</div>
                { !! v.description && <div class="posttop__post__content">{v.description}</div> }
            </a>
        </li>
    })}
    {!posts.length && <li>空</li>}
</ul>

<style is:global lang="scss">
    ul.posttop{
        margin: 1em 0;
        width: 300px;
        .title{
            height: 35px;
            line-height: 35px;
            font-weight: bold;
        }
        li{
            padding: 0 1em;
            +li{
                margin-top: .5em;
            }
        }
        .posttop__post{
            border: 1px solid #e2e2e2;
            padding: .2em 1em;
            border-radius: 4px;
            display: block;
            color: inherit;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            &.posttop__image{
                color: white;
            }
            &:hover{
                text-decoration: none;
            }
            .posttop__post__cover{
                position: absolute;
                right: 0;
                bottom: 0;
                top: 0;
                left: 0;
                z-index: 0;
                // filter: brightness(.7);
                // filter: blur(1.875em) brightness(.7);
                filter: blur(0.2em) brightness(.7);
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &__title{
                font-weight: 500;
                padding: .5em 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;
            }
            &__content{
                word-break: break-all;
                font-size: .875em;
                margin-bottom: .5em;
                position: relative;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-all;
            }
        }
    }
</style>