---
import Page from '@blog/layouts/Page.astro'
import Preview from '@blog/components/Preview.astro'
import { sortPublishedList } from '@blog/utils'
import { PageSize } from '@blog/config'
import Pagination from '@blog/components/Pagination.astro'

export async function getStaticPaths({ paginate }) {
    const posts = await sortPublishedList()
    return paginate(posts, { pageSize: PageSize })
}

const { page } = Astro.props
const count = page.total
const curPage = page.currentPage
---

<Page title="博客" description="博客" showTree>
    <div style="padding: 50px;">
        {
            page.data.map((article) => {
                return <Preview article={article} />
            })
        }
        <Pagination base="cateAll" pageSize={PageSize} curPage={curPage} count={count}></Pagination>
    </div>
</Page>
